doctype html
html
  head
    title Electives
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    script(src="/touch_sortable.js")
body
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Electives. Year 2020–2021. Module 1. 
      h3 Sort the following electives in the order from the most preferable to the least preferable one (from the top to the bottom)
      form(id="form" action="/polls/electives_2020_2021_1" method="post")
        // DON'T REMOVE THIS INPUT!!!
        input(type="hidden") 
        fieldset   
            .cards.offset-sm-1.col-sm-11                
        button(type="submit" class="btn btn-primary btn-lg") Submit
    script(src="/cards.js")
    script(src="/default.js") 
    script.
            var cards = document.querySelector('.cards');
            var dict = [
            {
                "instructors": "Jay Silverstein",
                "title": "Finding Bodies",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Finding-Bodies_2020-21_syllabus-Silverstein-July-2020.pdf"
            },
            {
                "instructors": "Matvey Lomonosov, Juliette Colinas",
                "title": "Ecological Citizenship",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Environmental-Citizenship_2020-21_syllabus.pdf"
            },
            {
                "instructors": "David Dusseault",
                "title": "The Street: Photography in the Public Realm",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/The-Street_2020-21_syllabus.pdf"
            },
            {
                "instructors": "Juliette Colinas",
                "title": "Nutrition, Health, Environment",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Nutrition-Health-Environment_2020-21_syllabus.pdf"
            },
            {
                "instructors": "Munesh Chauhan",
                "title": "Challenges in Social Robotics",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Challenges-in-Social-Robotics_2020-21_syllabus.pdf"
            },
            {
                "instructors": "Valerie Sartor, Velemira Ivanova",
                "title": "English as a Second Language",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/ESL-Syllabus-Q1-2020-21.pdf"
            }
          ]
            var urlParams = new URLSearchParams(window.location.search);
            var majors = urlParams.get('majors');
            if(majors){
                dict = [
                {
                    "instructors": "Jay Silverstein",
                    "title": "Finding Bodies",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Finding-Bodies_2020-21_syllabus-Silverstein-July-2020.pdf"
                },
                {
                    "instructors": "Matvey Lomonosov, Juliette Colinas",
                    "title": "Ecological Citizenship",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Environmental-Citizenship_2020-21_syllabus.pdf"
                },
                {
                    "instructors": "David Dusseault",
                    "title": "The Street: Photography in the Public Realm",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/The-Street_2020-21_syllabus.pdf"
                },
                {
                    "instructors": "Juliette Colinas",
                    "title": "Nutrition, Health, Environment",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Nutrition-Health-Environment_2020-21_syllabus.pdf"
                },
                {
                    "instructors": "Munesh Chauhan",
                    "title": "Challenges in Social Robotics",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Challenges-in-Social-Robotics_2020-21_syllabus.pdf"
                },
                {
                    "instructors": "Valerie Sartor, Velemira Ivanova",
                    "title": "English as a Second Language",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/ESL-Syllabus-Q1-2020-21.pdf"
                },
                {
                    "instructors": "Matvey Lomonosov",
                    "title": "Research Design and Methods",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/ANSO_RDM-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Anne Mulhall",
                    "title": "Politics and Culture: Nation, Empire, Class",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/CULT_Politics-and-Culture-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Anne Mulhall",
                    "title": "Foundations of the Humanities",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/CULT_Foundations-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Alexander Usvitskiy",
                    "title": "Microeconomics 1",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/ECON_Microeconomics-1-20-21-syllabus.pdf"
                },
                {
                    "instructors": "David Melbye",
                    "title": "Advanced Film Aesthetics",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/FIME_Advanced-Film-Aesthetics-Q1-2020-21.pdf"
                },
                {
                    "instructors": "David Melbye",
                    "title": "Film History & Form 1",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/FIME_FHF1-20-21syllabus.pdf"
                },
                {
                    "instructors": "Maxim Alyukov",
                    "title": "Media: Forms and Contexts",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/FIME_Media-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Peter Jones",
                    "title": "Essentials of Global History",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/HIST_Global-History-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Tomasz Blusiewicz",
                    "title": "Primary Sources",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/HIST_Primary-Sources-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Denis Zmeev",
                    "title": "OOP Development",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/IT_OOP-20-21-syllabus-.pdf"
                },
                {
                    "instructors": "Denis Zmeev",
                    "title": "Subject Domains",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/Subject-Domains_20-21-syllabus-1.pdf"
                },
                {
                    "instructors": "Vitaly Nikolaev",
                    "title": "Deep Learning",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/IT_Deep-Learning-20-21-syllabus.pdf"
                },
                {
                    "instructors": "Ayla Arslan",
                    "title": "Biochemistry",
                    "syllabus": "https://sas.utmn.ru/wp-content/uploads/2020/07/LIFE_Biochem-20-21-syllabus.pdf"
                }
              ]
            }
            
          
              
          
          dict.forEach(function(entry, index){
            var card = document.createElement('div');
            card.classList.add('portlet', 'ui-widget', 'ui-widget-content', 'ui-helper-clearfix', 'ui-corner-all');
            card.innerHTML = `<div class="portlet-header ui-sortable-handle ui-widget-header ui-corner-all" id="${entry["title"]} — ${entry["instructors"]}"><div class="row"><div class="col-12 col-md-12"><a data-toggle="collapse" role="button" href="#collapse${index}">${entry["title"]} — ${entry["instructors"]}</a><div class="collapse" id="collapse${index}"> 
            <p><a target="_blank" href="${entry["syllabus"]}">Syllabus</a></p></div></div></div></div>`
            cards.appendChild(card);
          })
