doctype html
html
  head
    title Electives
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    script(src="/touch_sortable.js")
body
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/Logo__red.png")
      h1 Electives. Year 2020–2021. Quarter 4. 
      h3 Sort the following electives in the order from the most preferable to the least preferable one (from the top to the bottom)
      
      h3 Click on a course title to see its syllabus. Please make your choice carefully because lower priorities may matter.
      // h3 NOTE: The syllabi could be changed.
      form(id="form" action="/polls/electives_2020_2021_4" method="post")
        // DON'T REMOVE THIS INPUT!!!
        input(type="hidden") 
        fieldset   
            .cards.offset-sm-1.col-sm-11                
        button(type="submit" class="btn btn-primary btn-lg") Submit
    script(src="/cards.js")
    script(src="/default.js") 
    script.
            var cards = document.querySelector('.cards');
            var dict = {
            "year34": [
              {
                "instructors": "Giacomo Andreoletti, Louis Vervoort",
                "title": "Time and Time travel",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Time-travel-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Irina Sadovina",
                "title": "Truth and Conspiracy",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Truth-and-Conspiracy-Syllabus-Q4-2020-21-1.pdf"
            },
            {
                "instructors": "Jay Silverstein",
                "title": "Humanity past, present future",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Humanity-past-present-future-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Jay Silverstein, Ayla Arslan",
                "title": "Perspectives in Evolution",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Perspectives-in-Evolution-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Krishna Muthukumarappan",
                "title": "The Social Brain",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/The-Social-Brain-Syllabus-Q3-2020-21-1.pdf"
            },
            {
                "instructors": "Corinne Doria",
                "title": "Pandemic",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Pandemic-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Julie Reshe",
                "title": "Trauma, Depression, Anxiety in Life and Learning",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Trauma-Depression-Anxiety-in-Life-and-Learning-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Peter Lesnik",
                "title": "Contemporary World Cinema (from 1980s to present)",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Contemporary-World-Cinema-1980s-present-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Alexander Usvitskiy",
                "title": "Experimental Economics",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Experimental-Economics-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Erika Wolf",
                "title": "Art in Public",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Art-in-Public-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Erzsébet Pásztor",
                "title": "Limits of Exponential Growth",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Limits-of-Exponential-Growth-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Marko Turk",
                "title": "Intercultural Education",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Intercultural-Education-Syllabus-Q4-2020-21-1.pdf"
            },
            {
                "instructors": "Alexander Usvitskiy",
                "title": "Behavioral Economics (ECON major course)",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/ECON_Behavioral-Economics-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Sulgi Lie",
                "title": "Transmedia Storytelling (FIME major course)",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/FIME_Transmedia-Storytelling-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Corinne Doria, Tomasz Blusiewicz",
                "title": "When Civilizations Meet: Europeans in the World (HIST major course)",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/HIST_Europeans-in-the-World-Syllabus-Q4-2020-21.docx-1.pdf"
            },
            {
                "instructors": "Vladimir Prischepa, Victor Skiba",
                "title": "Web-backend (IT major course)",
                "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/IT_Backend-Syllabus-Q4-2020-21-1.pdf"
            }
          ],
          "year12": [
            {
              "instructors": "Giacomo Andreoletti, Louis Vervoort",
              "title": "Time and Time travel",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Time-travel-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Irina Sadovina",
              "title": "Truth and Conspiracy",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Truth-and-Conspiracy-Syllabus-Q4-2020-21-1.pdf"
          },
          {
              "instructors": "Jay Silverstein",
              "title": "Humanity past, present future",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Humanity-past-present-future-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Jay Silverstein, Ayla Arslan",
              "title": "Perspectives in Evolution",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Perspectives-in-Evolution-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Krishna Muthukumarappan",
              "title": "The Social Brain",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/The-Social-Brain-Syllabus-Q3-2020-21-1.pdf"
          },
          {
              "instructors": "Corinne Doria",
              "title": "Pandemic",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Pandemic-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Julie Reshe",
              "title": "Trauma, Depression, Anxiety in Life and Learning",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Trauma-Depression-Anxiety-in-Life-and-Learning-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Peter Lesnik",
              "title": "Contemporary World Cinema (from 1980s to present)",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Contemporary-World-Cinema-1980s-present-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Alexander Usvitskiy",
              "title": "Experimental Economics",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Experimental-Economics-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Erika Wolf",
              "title": "Art in Public",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Art-in-Public-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Erzsébet Pásztor",
              "title": "Limits of Exponential Growth",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Limits-of-Exponential-Growth-Syllabus-Q4-2020-21.docx-1.pdf"
          },
          {
              "instructors": "Marko Turk",
              "title": "Intercultural Education",
              "syllabus": "https://sas.utmn.ru/wp-content/uploads/2021/03/Intercultural-Education-Syllabus-Q4-2020-21-1.pdf"
          }
        ]
      }
            var urlParams = new URLSearchParams(window.location.search);
            var year = urlParams.get('year');
            
    
    
    
    
          dict[year].forEach(function(entry, index){
            var card = document.createElement('div');
            card.classList.add('portlet', 'ui-widget', 'ui-widget-content', 'ui-helper-clearfix', 'ui-corner-all');
            var syllabusHTML = '';
            if (entry["syllabus"]) syllabusHTML = `<p><a target="_blank" href="${entry["syllabus"]}">Syllabus link</a></p>`;
            card.innerHTML = `<div class="portlet-header ui-sortable-handle ui-widget-header ui-corner-all" id="${entry["title"]} — ${entry["instructors"]}"><div class="row"><div class="col-12 col-md-10"><a data-toggle="collapse" role="button" href="#collapse${index}">${entry["title"]} — ${entry["instructors"]}</a><div class="collapse" id="collapse${index}"> 
            ${syllabusHTML}</div></div></div></div>`
            cards.appendChild(card);
          })
