doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content="SAS")
    meta(property="og:description" content="Я прошел тест Школы перспективных исследований.")
    meta(property="og:image" content="http://advanced.studies.school/assets/SAS__logo_small_blue.png")
    meta(property="fb:app_id" content="307669659708408")
    title Школа перспективных исследований
    script !function(e,t,a){(t[a]=t[a]||[]).push(function(){try{t.yaCounter45804912=new Ya.Metrika({id:45804912,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0,webvisor:!0,trackHash:!0})}catch(e){}});var c=e.getElementsByTagName("script")[0],n=e.createElement("script"),r=function(){c.parentNode.insertBefore(n,c)};n.type="text/javascript",n.async=!0,n.src="https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js","[object Opera]"==t.opera?e.addEventListener("DOMContentLoaded",r,!1):r()}(document,window,"yandex_metrika_callbacks");
    script function canUseWebP(){var e=document.createElement("canvas");return 0==e.toDataURL("image/webp").indexOf("data:image/webp")}function addCSSRule(e,a,d,n){"insertRule"in e?e.insertRule(a+"{"+d+"}",n):"addRule"in e&&e.addRule(a,d,n)}var sheet=function(){var e=document.createElement("style");return e.appendChild(document.createTextNode("")),document.head.appendChild(e),e.sheet}();dummyImg=document.createElement("img"),canUseWebP()?window.innerWidth>800?(dummyImg.src="assets/blackboard.webp",dummyImg.onload=function(){addCSSRule(sheet,".hello-screen::before","background:url('assets/blackboard.webp'); background-size:cover",0),document.getElementById("load").style.visibility="hidden",yaCounter45804912&&yaCounter45804912.reachGoal("1_SCREEN_VISITED")}):(dummyImg.src="assets/blackboard.jpg",dummyImg.onload=function(){addCSSRule(sheet,".hello-screen::before","background:url('assets/blackboard.jpg'); background-size:cover",0),document.getElementById("load").style.visibility="hidden",yaCounter45804912&&yaCounter45804912.reachGoal("1_SCREEN_VISITED")}):window.innerWidth>800?(dummyImg.src="assets/blackboard.gif",dummyImg.onload=function(){addCSSRule(sheet,".hello-screen::before","background:url('assets/blackboard.gif'); background-size:cover",0),document.getElementById("load").style.visibility="hidden",yaCounter45804912&&yaCounter45804912.reachGoal("1_SCREEN_VISITED")}):(dummyImg.src="assets/blackboard.jpg",dummyImg.onload=function(){addCSSRule(sheet,".hello-screen::before","background:url('assets/blackboard.jpg'); background-size:cover",0),document.getElementById("load").style.visibility="hidden",yaCounter45804912&&yaCounter45804912.reachGoal("1_SCREEN_VISITED")});
  body
    div(class="progress" id="progress")
      div(class="progress__bar" id="progress__bar")
    div(class="load" id="load")
      div(class="load__circle")
    div
      img(src="https://mc.yandex.ru/watch/45804912" style="position:absolute; left:-9999px;" alt="")
    main(id="fullpage")
      section(class="hello-screen mustLoad section" id="hello-screen" data-anchor="start")
        header(class="header")
          div(class="logo")
            img(class="logo__img" src="/assets/SAS__logo_small_blue.png")
          div(class="contacts-block")
            div(class="social")
              ul(class="social__list")
                li(class="social__list-item icon-vkontakte-1")
                  a(class="social__a" href="https://vk.com/sas_tmn" target="_blank")
                li(class="social__list-item  icon-facebook-1")
                  a(class="social__a" href="https://www.facebook.com/sas.utmn.ru/" target="_blank")
                li(class="social__list-item icon-instagram")
                  a(class="social__a"  href="https://www.instagram.com/sas_tmn/" target="_blank")
            div(class="contacts")
              ul(class="contacts__list")
                li(class="contacts__list-item") 
                  a(href="mailto:sas@utmn.ru") sas@utmn.ru
                li(class="contacts__list-item") +7 922 268 03 63
        h1(class="h1 h1_hello") Школа перспективных исследований представляет:<br/>Тест: Cтань лучше!<br/>
        a(href="#presentation")
          span(class="arrow-down" id="hello-arrow-down")
        //- h1(class="h1") Школа перспективных исследований запускает программу открытых лекций.<br/>Пройди наш тест и получи рекомендацию экспертов о том, какой киношедевр тебе подходит
        //- button(class="button" id="start-button") Начать тест
      section(class="presentation-screen section" id="presentation" data-anchor="presentation")
        header(class="header")
          div(class="logo")
            img(class="logo__img" src="/assets/SAS__logo_small_blue.png")
          div(class="contacts-block")
            div(class="social")
              ul(class="social__list")
                li(class="social__list-item icon-vkontakte-1")
                  a(class="social__a" href="https://vk.com/sas_tmn" target="_blank")
                li(class="social__list-item icon-facebook-1")
                  a(class="social__a" href="https://www.facebook.com/sasutmn/" target="_blank")
                li(class="social__list-item icon-instagram")
                  a(class="social__a" href="https://www.instagram.com/sas_tmn/" target="_blank")
            div(class="contacts")
              ul(class="contacts__list")
                li(class="contacts__list-item") sas@utmn.ru
                li(class="contacts__list-item") +7 922 268 03 63
        h1(class="h1") Школа перспективных исследований — это место, где ты сам выбираешь, что изучаешь сегодня и каким станешь завтра.<br/><br/>Пройди наш тест и узнай, какой фильм мы рекомендуем тебе посмотреть, чтобы стать еще лучше и быть частью нашей команды.
        button(class="button button_hidden" id="start-button") Начать тест
      section(class="test-screen section" id="test1" data-anchor="test1")
        h2(class="h2") Твоя задача — выбрать 3 интересные тебе темы из 18. Кстати, это настоящие курсы лекций, которые читаются в Школе перспективных исследований:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="1")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/1.jpg")
                h4(class="list-item__header") «Царский недуг»: депрессия в литературе. Джон Тангни
              p(class="list-item__description") Топ лучших способов потери смысла жизни по версии мировой литературы.
            li(class="list-item" id="2")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/2.jpg")
                h4(class="list-item__header") «Эпоха тотальной войны» – глобальный конфликт в коротком 20-м веке. Томаш Блушевич
              p(class="list-item__description") Чем мировая война отличается от обычной? И когда начнется третья? 

            li(class="list-item" id="3")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/3.jpg")
                h4(class="list-item__header") Введение в исследования компьютерных игр. Максим Алюков
              p(class="list-item__description") Компьютерные игры: насилие, сексуальность, идентичность, образование, экономика, политика. 

            li(class="list-item" id="4")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/4.jpg")
                h4(class="list-item__header") Воспоминания, сновидения, исповеди: изображая внутренний мир. Джон Тангни
              p(class="list-item__description") Время и память, смерть и трансцендентность, психиатрическая больница и храм. Путешествие по невероятным биографиям внутренней жизни.

            li(class="list-item" id="5")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/5.jpg")
                h4(class="list-item__header") История и память через призму кино. Евгений Гришин
              p(class="list-item__description") История vs. историческая память. Ключевые проблемы российской истории через призму популярных фильмов.
            li(class="list-item" id="6")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/6.jpg")
                h4(class="list-item__header") История кино. Оксана Булгакова
              p(class="list-item__description") Вторая звуковая революция, голливудские студии, нуар, авторское кино и глобализация.
      section(class="test-screen section" id="test2" data-anchor="test2")
        //- h2(class="h2") Выбери темы лекций, которые тебе интересны:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="7")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/7.jpg")
                h4(class="list-item__header") Международное право. Сурендра Бхандари
              p(class="list-item__description") Как страны взаимодействуют друг с другом, со своими гражданами и гражданами других государств? Суверенитет, государственный иммунитет и права человека.    
            li(class="list-item" id="8")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/8.jpg")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен? Рут Кастнер
              p(class="list-item__description") В чем сходства и отличия научного и религиозного знания? Интерпретации Библии, несоизмеримые теории, противоречия и гармония.
            li(class="list-item" id="9")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/9.jpg")
                h4(class="list-item__header") Ницше: по ту сторону добра и зла и смерть бога. Закари Рейна
              p(class="list-item__description") Смерть бога, воля к истине, вечное возвращение и сверхчеловек: переоценка всех ценностей у Ницше.
            li(class="list-item" id="10")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/10.jpg")
                h4(class="list-item__header") Политическая коммуникация. Максим Алюков
              p(class="list-item__description") Как устроены медиа и как они связаны с политическими элитами? Как телевидение, интернет и социальные сети формируют мнения и влияют на принятие решений?
            li(class="list-item" id="11")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/11.jpg")
                h4(class="list-item__header") История капитализма. Наталья Савельева
              p(class="list-item__description") Что такое капитализм? Как он влияет на жизнь? Изменяет гендерные роли, труд, досуг и саму повседневность?
            li(class="list-item" id="12")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/12.jpg")
                h4(class="list-item__header") Право и любовь. Закари Рейна
              p(class="list-item__description") Каковы отношения между правом и любовью? Каково место любви в праве и место права в любви? Можем ли право быть похожим на любовь?
      section(class="test-screen section" id="test3" data-anchor="test3")
        //- h2(class="h2") Выбери темы лекций, которые тебе интересны:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="13")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/13.jpg")
                h4(class="list-item__header") Публичная сфера и частная жизнь. Олег Журавлев
              p(class="list-item__description") Соотношение публичного и частного, коллективного и индивидуального, политического и личного в человеческой жизни.   
            li(class="list-item" id="14")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/14.jpg")
                h4(class="list-item__header") Современная философия науки. Луи Вервурт
              p(class="list-item__description") Что такое наука и какова её цель? Как доказываются научные утверждения и делаются открытия? Какие степени истинности существуют в разных науках?
            li(class="list-item" id="15")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/15.jpg")
                h4(class="list-item__header") Создание Европы: средневековая культура в VI-XVI вв. Питер Джонс
              p(class="list-item__description") Радикальная культура средневековой Европы: трубадуры с песнями о куртуазной любви, появление и исчезновение королевств, Крестовые походы и первые университеты.
            li(class="list-item" id="16")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/16.jpg")
                h4(class="list-item__header") Создание экономического общества. Анил Аба
              p(class="list-item__description") Как возникла экономическая реальность, в которой мы живем? Капитализм, экономическое развитие, кризисы, бедность и глобальное неравенство – что дальше?
            li(class="list-item" id="17")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/17.jpg")
                h4(class="list-item__header") Философия физики, или Как изобрести новую науку. Луи Вервурт
              p(class="list-item__description") Философские предположения, лежащие в основе таких великих теорий, как классическая механика, теория относительности и квантовая механика.
            li(class="list-item" id="18")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/18.jpg")
                h4(class="list-item__header") Экология, технологии и аниме. Даскин Драм
              p(class="list-item__description") Изменения климата, генная инженерия, киборгизация, биоэтика и вымирание. Изучение этих и других проблем на материале японского аниме и манги.
        button(class="button button_disabled button_end" id="end-button" ) Узнать результат
      section(class="test-results section" id="test-results" data-anchor="test-results")
        h2(class="h2 h2_results") Мы рекомендуем тебе посмотреть:
        div(class="test-results__flex-wrapper")
          div(class="test-results__flex-wrapper_column test-results__flex-wrapper_column_left")
            div(class="list-item__header-wrapper list-item__header-wrapper_results")
              h3(class="list-item__header list-item__header_results" id="results-header") "К северу через северо-запад", Альфред Хичкок
              p(class="list-item__description" id="results-descr")
              div(class="share-results")
                div(class="social")
                  ul(class="social__list social__list_margin10")
                    li(class="social__list-item " id="vk-share")
                    li(class="social__list-item" id="facebook-share")
                    //- div(class="fb-share-button"  data-href="http://lectures-sasonline.rhcloud.com/#test-results" data-layout="button")
            img(class="list-item__img list-item__img_results" id="results-img" src="")
          div(class="test-results__flex-wrapper_column test-results__flex-wrapper_column_right")
            div(class="vk-subcribe")
              h3(class="h3 h3_align-left h3_margin10 h3_subscribe") Лекции, набравшие больше всех голосов, войдут в проект "Открытые лекции".<br/><br/>Если ты хочешь быть успешным и образованным, подпишись на e-mail рассылку Школы перспективных исследований и первым узнай о том, как на них попасть:
              div(id="vk_groups")
            div(class="email-subscribe")
              //- h3(class="h3 h3_align-left h3_email") Подпишись на email-рассылку Школы:
              form(class="form-subscribe" id="form-subscribe" action="/subscribe" method="post")
                label(class="form-subscribe__label") Email:
                  input(class="form-subscribe__input" type="email" name="email" required="true")
                input(class="form-subscribe__submit button button_small" id="form-subscribe__submit" type="submit" disabled="true" value="Подписаться")
                input(id="agreement-checkbox" type="checkbox")
                label(for="agreement-checkbox" class="form-subscribe__label") Я даю согласие на обработку своих персональных данных
    script(type="text/javascript" src="//vk.com/js/api/openapi.js?146")
    script if (window.innerWidth>1000) {VK.Widgets.Group("vk_groups", {mode: 3,width:400,height:200,no_cover:1}, 146251082); document.getElementById('vk_groups').style.margin = '20px';}else {VK.Widgets.Group("vk_groups", {mode: 3,width:280,no_cover:1}, 146251082); document.getElementById('vk_groups').style.margin = '20px';}document.getElementById('vk_groups').style.margin = '20px 10px';




    //- div(class="background")
    //- div(class="screen__filter")
